# NODE_ENV: Define o ambiente de execução da aplicação (development ou production)
NODE_ENV=development

# APP_URL: A URL base onde o frontend está rodando (usado para links absolutos e redirecionamentos)
APP_URL=http://localhost:3000

# PORT: A porta na qual o servidor Node/Express irá escutar as requisições HTTP
PORT=3000

# GEMINI_API_KEY: Chave da API do Google Gemini para recursos inteligentes de geração de descrição e Next Best Actions
GEMINI_API_KEY=

# MONGODB_URI: String de conexão completa do MongoDB Atlas (Necessária em produção)
MONGODB_URI=

# MONGODB_DB_NAME: Nome do banco de dados utilizado no MongoDB Atlas
MONGODB_DB_NAME=metria_crm

# SESSION_SECRET: Chave de segurança para criptografia e validação de cookies de sessão (Requerido em produção)
SESSION_SECRET=
